/*Detalhes do background*/

*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 100%;
    box-sizing: border-box;
    vertical-align: baseline;
}
html{
    font-size: 11px;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#pagina_principal p{
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Seção de Apresentação*/

#apresentacao{
    background-image: url(img-fundo.png);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#apresentacao h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
    background-color: gold;
}
#apresentacao :after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.03;
    z-index: -1;
}

/*Efeito visual das frases*/
#apresentacao h1{
    display: block;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: transparent;
    animation:text_reveal .5s ease forwards;
    animation-delay: 1.5s; 
}
#apresentacao h1:nth-child(1) {
    animation-delay: .8s;
}
#apresentacao h1:nth-child(2) {
    animation-delay: 1.8s;
}
#apresentacao h1:nth-child(3) {
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 2.8s;
}
#apresentacao h1:nth-child(1) span{
    animation-delay: .5s;
}
#apresentacao h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#apresentacao h1:nth-child(3) span{
    animation-delay: 2.5s;
}

/*Botão de redirecionamento para a página principal*/
#apresentacao .link_cadastrar{
    display: inline-block;
    padding: 10px 30px;
    color: gold;
    background-color: transparent;
    border: 5px solid gold;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .5s ease;
    transition-property: color;
}

#apresentacao .link_cadastrar:hover {
    color: #1C181A;
    font-weight: 500;
    background-color: gold;
    border: 5px solid transparent;
}

/*PÁGINA PRINCIPAL (LINKS E FORMULÁRIO)*/

#pagina_principal{
    background-color: rgb(241, 210, 30);
}
.img-logo img{
	width: 970px;
	height:370px;
}
#pagina_principal .pagina_principal-header h1{
    margin-bottom: 40px;
}

#pagina_principal .pagina_principal{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
/* BOTÕES DE LINKS DE NAVEGAÇÃO*/
#pagina_principal .link_navegacao{
    display: inline-block;
    padding: 5px 10px;
    color: #FED401;
    background-color: black;
    border: 5px solid rgba(0, 0, 0, 0.938);
    border-radius: 20px;
    font-size: 1.7rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 40px;
    transition: .5s ease;
    transition-property: background-color, color;
}
#pagina_principal .link_navegacao:hover {
    color: black;
    font-weight: 500;
    background-color: rgb(233, 200, 15);
    border: 5px solid rgba(0, 0, 0, 0.938);
    font-size: 1.7rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

/*Seção de conteúdo e artigos da página*/
#pagina_principal .artigos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#pagina_principal .artigo-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}
#pagina_principal .artigo-info{
   padding: 30px;
   flex-basis: 50%;
   height: 100%;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
   background-image: linear-gradient(10deg, #111110d0 0%, #000000 100%);
   color: white;
}
#pagina_principal .artigo-info h1{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: gold;

}
#pagina_principal .artigo-info h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}
#pagina_principal .artigo-img{
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
#pagina_principal .artigo-img:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.4;
}
#pagina_principal .artigo-img img{
    transition: 0.5s ease transform;
}
#pagina_principal .artigo-item:hover .artigo-img img{
    transform: scale(1.1);
}

/*Página do Formulário*/
#pagina_formulario{
    background-color: black;
    color: white;
    width: 100%;

}
.titulo_formulario {
    font-size: 8rem;
    font-weight: 700;
    margin-top: 30px;
    color: gold;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    text-align: center;
}
/*OCULTANDO SCROLL NOS INPUTS TIPO NUMBER*/
/*GOOGLE CHROME E OUTROS*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*FIREFOX*/
input[type=number] {
    -moz-appearance: textfield;
  }

/*NOMES DAS SEÇÕES DO FORMULÁRIO*/
#pagina_formulario .titulo_containers{
    background-color: gold;
    color:black;
    width: 100%;
    padding-left: 50px;
    padding-top: 5px;
    margin-bottom: 20px;
    margin-top: 30px;
    height:40px;
    letter-spacing: 0.1rem;
    font-size: 2.2rem;
    font-weight: 700;
}
/*PLACEHOLDERS*/

#chassi::placeholder {
    text-align: center;
    color: #000000;
    font-weight: 600;
}
#gravame::placeholder {
    text-align: center;
    color: #000000;
    font-weight: 600;
}
#uf::placeholder {
    text-align: center;
    color: #000000;
    font-weight: 600;
}
#renavam::placeholder {
    text-align: center;
    color: #000000;
    font-weight: 600;
}
#placa::placeholder {
    text-align: center;
    color: #000000;
    font-weight: 600;
}
#chassi::placeholder {
    text-align: center;
    color: #000000;
    font-weight: 600;
}
#ano-fabricacao::placeholder {
    text-align: center;
    color: #000000;
    font-weight: 600;
}
#ano-modelo::placeholder {
    text-align: center;
    color: #000000;
    font-weight: 600;
}
#cpf::placeholder {
    text-align: center;
    color: #000000;
    font-weight: 600;
}
#nome::placeholder {
    text-align: center;
    color: #000000;
    font-weight: 600;
}
#logradouro::placeholder {
    text-align: center;
    color: #000000;
    font-weight: 600;
}
#municipio::placeholder {
    text-align: center;
    color: #000000;
    font-weight: 600;
}
/*AGENTE FINANCEIRO ITENS*/

#input_agente div{
    display: inline-block;
}
#input_agente label{
    font-size: 15px;
}
#input_agente span{
    color: gold;
    font-size: 12px;
}
#input_credores > *{
    display: block;
    margin-left: 50px;
    margin-right: 95px;
}
#credores{
    appearance: none;
    width: 560px;
    height: 25px;
    border-radius: 5px;
    background-image: url('arrow-down-01.png');
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
    background-size: 15px;
}
#input_uf_registro > *{
    display: block;
    margin-left: 50px;
}
#uf{
    width: 240px;
    height: 25px;
    border-radius: 5px;
    background-color: white;
}
/*VEÍCULOS INPUTS RADIO*/
#input_veiculos div{
    display: inline-block;
}
#input_remarcado > *{
    display: block;
    margin-left: 50px;
}
#lremarcado span{
    margin-left: 10px;
    font-size: 16px;
    color: white;
}
.check-btn{
    height: 20px;
    width: 20px;
    position: absolute;
    opacity: 0;
}
.check-btn + #lremarcado{
    font-size: 16px;
    margin-top: 20px;
    margin-right: 11px;
}
.check-btn:checked + #lremarcado span{
    color: gold;
    font-size: 16px;
}
.check-btn:checked + #lremarcado .radio-btn{
    background: radial-gradient(circle, gold 45%, transparent 50%);
}
.radio-btn{
    height: 20px;
    width: 20px;
    border-radius: 100px;
    border: 3px solid gold;
}
#input_zero > *{
    display: block;
    margin-left: 50px;
    margin-top: 40px;
}
#lzero span{
    margin-left: 10px;
    font-size: 16px;
}
.check-btn + #lzero{
    font-size: 16px;
    margin-top: 35px;
}
.check-btn:checked + #lzero span{
    color: gold;
    font-size: 16px;
}
.check-btn:checked + #lzero .radio-btn{
    background: radial-gradient(circle, gold 45%, transparent 50%);
}
/* VEÍCULOS*/
/*INPUT CHASSI*/
#input_veiculos label{
    font-size: 15px;
}
#input_chassi span{
    color: gold;
    font-size: 12px;
}
#input_chassi > *{
    display: block;
    margin-left: 50px;
}
#chassi{
    margin-bottom: 20px;
    width: 250px;
    height: 25px;
    border-radius: 5px;
}
/*INPUT GRAVAME*/
#input_gravame span{
    color: gold;
    font-size: 12px;
}
#input_gravame > *{
    display: block;
    margin-left: 50px;
}
#gravame{
    margin-bottom: 20px;
    width: 200px;
    height: 25px;
    border-radius: 5px;
}
/*INPUT DATA DO GRAVAME*/
#input_data_gravame span{
    color: gold;
    font-size: 12px;
}
#input_data_gravame > *{
    display: block;
    margin-left: 50px;
}
#data-gravame{
    margin-bottom: 20px;
    width: 200px;
    height: 25px;
    border-radius: 5px;
}
/*INPUT PLACA*/
#input_placa > *{
    display: block;
    margin-left: 50px;
}
#input_placa span {
    color: gold;
    font-size: 12px;
}
#placa{
    margin-bottom: 40px;
    width: 250px;
    height: 25px;
    border-radius: 5px;   
}
/*INPUT UF DA PLACA*/
#input_uf_placa > *{
    display: block;
    margin-left: 50px;
}
#input_uf_placa span {
    color: gold;
    font-size: 12px;
}
#uf-placa{
    margin-bottom: 40px;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    background-color: white;
}
/*INPUT RENAVAM*/
#input_renavam > *{
    display: block;
    margin-left: 50px;
}
#input_renavam span {
    color: gold;
    font-size: 12px;
}
#renavam{
    margin-bottom: 40px;
    width: 200px;
    height: 25px;
    border-radius: 5px;
}
/*INPUT TIPO DO VEÍCULO*/
#input_tipo_veiculo > *{
    display: block;
    margin-left: 250px;
}
#tipo-veiculo{
    appearance: none;
    width: 250px;
    height: 25px;
    border-radius: 5px;
    background-image: url('arrow-down-01.png');
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
    background-size: 15px;
}
/*INPUT ANO DE FABRICAÇÃO*/
#input_ano_fabricacao > *{
    display: block;
    margin-left: 50px;
}
#input_ano_fabricacao span{
    color: gold;
    font-size: 12px;
}
#ano-fabricacao{
    width: 200px;
    height: 25px;
    border-radius: 5px;
}
/*INPUT ANO DO MODELO*/
#input_ano_modelo > *{
    display: block;
    margin-left: 50px;
}
#input_ano_modelo span{
    color: gold;
    font-size: 12px;
}
#ano-modelo{
    width: 200px;
    height: 25px;
    border-radius: 5px; 
}
/*DEVEOR*/
#input_devedor div{
    display: inline-block;
}
#input_devedor label{
    font-size: 15px;
}
#input_devedor span{
    color: gold;
    font-size: 12px;
}
/*INPUT CPF*/
#input_cpf > *{
    display: block;
    margin-left: 50px;
}
#input_cpf span{
    color: gold;
    font-size: 12px;
}
#cpf{
    margin-bottom: 20px;
    width: 200px;
    height: 25px;
    border-radius: 5px;
}
/*INPUT NOME*/
#input_nome > *{
    display: block;
    margin-left: 50px;
}
#input_nome span{
    color: gold;
    font-size: 12px;
}
#nome{
    margin-bottom: 20px;
    width: 330px;
    height: 25px;
    border-radius: 5px;
}
/*INPUT EMAIL*/
#input_email > *{
    display: block;
    margin-left: 50px;
}
#email{
    margin-bottom: 20px;
    width: 310px;
    height: 25px;
    border-radius: 5px;
}
/*INPUT DDD*/
#input_ddd > *{
    display: block;
    margin-left: 50px;
}
#ddd{
    margin-bottom: 20px;
    width: 80px;
    height: 25px;
    border-radius: 5px;
}
/*INPUT TELEFONE*/
#input_telefone > *{
    display: block;
    margin-left: 50px;
}
#telefone{
    margin-bottom: 20px;
    width: 180px;
    height: 25px;
    border-radius: 5px;
}
/*INPUT UF DO DEVEDOR*/
#input_uf_devedor > *{
    display: block;
    margin-left: 50px;
}
#input_uf_devedor span{
    color: gold;
    font-size: 12px;
}
#uf-devedor{
    margin-bottom: 20px;
    width: 170px;
    height: 25px;
    border-radius: 5px;
}
/*INPUT CEP*/
#input_cep > *{
    display: block;
    margin-left: 50px;
}
#cep{
    margin-bottom: 20px;
    width: 170px;
    height: 25px;
    border-radius: 5px;
}
/*INPUT NÚMERO*/
#input_numero > *{
    display: block;
    margin-left: 50px;
}
#numero{
    margin-bottom: 20px;
    width: 85px;
    height: 25px;
    border-radius: 5px;
}
/*INPUT LOGRADOURO*/
#input_logradouro > *{
    display: block;
    margin-left: 50px;
}
#logradouro{
    margin-bottom: 20px;
    width: 360px;
    height: 25px;
    border-radius: 5px;
}
/*INPUT BAIRRO*/
#input_bairro > *{
    display: block;
    margin-left: 50px;
}
#bairro{
    margin-bottom: 20px;
    width: 260px;
    height: 25px;
    border-radius: 5px;
}
/*INPUT MUNICÍPIO*/
#input_municipio > *{
    display: block;
    margin-left: 50px;
}
#municipio{
    margin-bottom: 20px;
    width: 220px;
    height: 25px;
    border-radius: 5px;
}
/*CONTRATO*/
#input_contrato div{
    display: inline-block;
}
#input_contrato label{
    font-size: 15px;
}
#input_contrato span{
    color: gold;
    font-size: 12px;
}
/* INPUT TIPO DE RESTRIÇÃO*/
#input_tipo_restricao > *{
    display: block;
    margin-left: 50px;
}
#input_tipo_restricao span{
    color: gold;
    font-size: 12px;
}
#tipo-restricao{
    margin-bottom: 20px;
    width: 320px;
    height: 25px;
    border-radius: 5px;
}
/*INPUT NÚMERO DO CONTRATO*/
#input_numero_contrato > *{
    display: block;
    margin-left: 50px;
}
#numero-contrato{
    margin-bottom: 20px;
    width: 260px;
    height: 25px;
    border-radius: 5px;
}
/*INPUT DATA DO CONTRATO*/
#input_data_contrato > *{
    display: block;
    margin-left: 50px;
}
#data-contrato{
    margin-bottom: 20px;
    width: 260px;
    height: 25px;
    border-radius: 5px;
}
/*FINANCEIRO*/
#input_financeiro div{
    display: inline-block;
}
#input_financeiro label{
    font-size: 15px;
}
#input_financeiro span{
    color: gold;
    font-size: 12px;
}
/*INPUT DATA DA COMPRA*/
#input_data_compra > *{
    display: block;
    margin-left: 50px;
}
#data-compra{
    margin-bottom: 20px;
    width: 270px;
    height: 25px;
    border-radius: 5px;
}
/*INPUT DATA DA LIBERAÇÃO*/
#input_data_lib > *{
    display: block;
    margin-left: 50px;
}
#data-lib{
    margin-bottom: 20px;
    width: 270px;
    height: 25px;
    border-radius: 5px;
}
/*INPUT VALOR TOTAL*/
#input_valor_total > *{
    display: block;
    margin-left: 50px;
}
#valor-total{
    margin-bottom: 20px;
    width: 300px;
    height: 25px;
    border-radius: 5px;
}
/*INPUT QUANTIDADE DE PARCELAS*/
#input_qtd_parcelas > *{
    display: block;
    margin-left: 50px;
}
#qtd-parcelas{
    margin-bottom: 20px;
    width: 180px;
    height: 25px;
    border-radius: 5px;
}
/*INPUT VALOR DAS PARCELAS*/
#input_valor_parcelas > *{
    display: block;
    margin-left: 50px;
}
#valor-parcelas{
    margin-bottom: 20px;
    width: 205px;
    height: 25px;
    border-radius: 5px;
}
/*INPUT VENCIMENTO DA PRIMEIRA PARCELA*/
#input_venc_1parcela > *{
    display: block;
    margin-left: 50px;
}
#venc-1parcela{
    margin-bottom: 20px;
    width: 200px;
    height: 25px;
    border-radius: 5px;
}
/*INPUT VENCIMENTO DA ÚLTIMA PARCELA*/
#input_venc_parcela > *{
    display: block;
    margin-left: 50px;
}
#venc-parcela{
    margin-bottom: 20px;
    width: 200px;
    height: 25px;
    border-radius: 5px;
}
/*INPUT INDICATIVO DE MULTA*/
#input_indicativo_multa > *{
    display: block;
    margin-left: 50px;
}
#lindicativo-multa span{
    margin-left: 10px;
    font-size: 16px;
    color: white;
}
.check-btn{
    height: 20px;
    width: 20px;
    position: absolute;
    opacity: 0;
}
.check-btn + #lindicativo-multa{
    font-size: 16px;
    margin-top: 30px;
    margin-right: 10px;
}
.check-btn:checked + #lindicativo-multa span{
    color: gold;
    font-size: 16px;
}
.check-btn:checked + #lindicativo-multa .radio-btn{
    background: radial-gradient(circle, gold 45%, transparent 50%);
}
/*INPUT TAXA DE MULTA*/
#input_taxa_multa > *{
    display: block;
    margin-left: 50px;
}
#taxa-multa{
    margin-bottom: 20px;
    width: 170px;
    height: 25px;
    border-radius: 5px;
}
/*INPUT TAXA DE CONTRATO*/
#input_valor_taxa > *{
    display: block;
    margin-left: 50px;
}
#valor-taxa{
    margin-bottom: 20px;
    width: 200px;
    height: 25px;
    border-radius: 5px;
}
/*INPUT VALOR DO IOF*/
#input_valor_iof > *{
    display: block;
    margin-left: 50px;
}
#valor-iof{
    margin-bottom: 20px;
    width: 200px;
    height: 25px;
    border-radius: 5px;
}
/*INPUT INDICATIVO DE MORA*/
#input_indicativo_mora > *{
    display: block;
    margin-left: 50px;
}
#lindicativo-mora span{
    margin-left: 10px;
    font-size: 16px;
    color: white;
}
.check-btn{
    height: 20px;
    width: 20px;
    position: absolute;
    opacity: 0;
}
.check-btn + #lindicativo-mora{
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 11px;
}
.check-btn:checked + #lindicativo-mora span{
    color: gold;
    font-size: 16px;
}
.check-btn:checked + #lindicativo-mora .radio-btn{
    background: radial-gradient(circle, gold 45%, transparent 50%);
}
/*INPUT TAXA DE MORA*/
#input_taxa_mora > *{
    display: block;
    margin-left: 50px;
}
#taxa-mora{
    margin-bottom: 20px;
    width: 170px;
    height: 25px;
    border-radius: 5px;
}
/*INPUT VALOR DA TAXA MENSAL*/
#input_taxa_mensal > *{
    display: block;
    margin-left: 50px;
}
#taxa-mensal{
    margin-bottom: 20px;
    width: 200px;
    height: 25px;
    border-radius: 5px;
}
/*INPUT VALOR DA TAXA ANUAL*/
#input_taxa_anual > *{
    display: block;
    margin-left: 50px;
}
#taxa-anual{
    margin-bottom: 20px;
    width: 200px;
    height: 25px;
    border-radius: 5px;
}
/*INPUT GRUPO CONSÓRCIO*/
#input_grupo_consorcio > *{
    display: block;
    margin-left: 50px;
}
#grupo-consorcio{
    margin-bottom: 20px;
    width: 280px;
    height: 25px;
    border-radius: 5px;
}
/*INPUT COTA CONSÓRCIO*/
#input_cota_consorcio > *{
    display: block;
    margin-left: 50px;
}
#cota-consorcio{
    margin-bottom: 20px;
    width: 280px;
    height: 25px;
    border-radius: 5px;
}
/*INPUT TAXA DE COMISSÃO*/
#input_taxa_comissao > *{
    display: block;
    margin-left: 50px;
}
#taxa-comissao{
    margin-bottom: 20px;
    width: 280px;
    height: 25px;
    border-radius: 5px;
}
/*INPUT ÍNDICE DE CORREÇÃO MONETÁRIA*/
#input_indice_correcao > *{
    display: block;
    margin-left: 50px;
}
#indice-correcao{
    margin-bottom: 20px;
    width: 300px;
    height: 25px;
    border-radius: 5px;
}
#input_uf_credito > *{
    display: block;
    margin-left: 50px;
}
#uf-credito{
    margin-bottom: 40px;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    background-color: white;
}
/*INPUT MUNICÍPIO DE LIBERAÇÃO DE CRÉDITO*/
#input_municipio_credito > *{
    display: block;
    margin-left: 50px;
}
#municipio-credito{
    margin-bottom: 20px;
    width: 340px;
    height: 25px;
    border-radius: 5px;
}
/*IMAGEM*/
#input_imagem div{
    display: inline-block;
}
#input_imagem label{
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    margin-bottom: 20px;
    color: black;
    background-color: gold;
    border: 5px solid gold;
    border-radius: 20px;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 40px;
    transition: .5s ease;
    font-weight: 700;
    transition-property: background-color, color;
    cursor: pointer;
    width: 600px;
    height: 50px;
    padding-top: 10px;
}
#input_imagem label:hover{
    color: white;
    text-align: center;
    font-weight: 700;
    background-color: black;
    border: 5px solid gold;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    cursor: pointer;
    width: 600px;
    height: 50px;
    padding-top: 10px;
}
#input_imagem span{
    color: gold;
    font-size: 12px;
}

#input_imagem > *{
    display: block;
    margin-left: 50px;
    margin-bottom: 70px;
}
#imagem-contrato{
    display: none;
}
/*OBSERVAÇÃO*/
#input_observacao div{
    display: inline-block;
}
#input_observacao > *{
    display: block;
    margin-left: auto;
    margin-right: auto; 
}
#observacao{
    margin-top: 50px;
    width: 600px;
    height: 200px;
}
/*BOTÃO SUBMIT E FINAL DA PÁGINA*/
#input_submit div{
    display: inline-block;
}
#sbmt-salvar{
    display: block; 
    text-align: center;
    font-size: 15px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto; 
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    background-color: black;
    border: 5px solid gold;
    border-radius: 20px;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 40px;
    transition: .5s ease;
    font-weight: 700;
    cursor: pointer;
    width: 150px;
    height: 40px;
}
/*Rodapé da Página*/
footer {
    text-align: center;
    padding: 10px;
    background-color: gold;
    color: black;
    font-size: 1.1rem;
}
footer h1{
    font-weight: 600;
    font-size: 1.3rem;
}
/*KeyFrames (Animações) da Página Inicial*/
/* REVELANDO FRASES*/

@keyframes text_reveal {
    100%{
        color: white;
    }
}

@keyframes text_reveal_name {
    100%{
        color: gold;
        font-weight: 500px;
    }
}

@keyframes text_reveal_box{
    50%{
        width: 100%;
        left:0%;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

/*Media Query*/
@media only screen and (min-width: 768px) {
    #pagina_principal .artigo-item {
        flex-direction: row;
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    #pagina_principal .pagina_principal .artigo-info{
        height: 100%;
    }
    #pagina_principal .pagina_principal .artigo-img{
        height: 100%;
    }
    #pagina_principal .artigo-item:nth-child(even){
        flex-direction: row-reverse;
    }
}